/* navbar.css */

nav {
    background-color: black;
    padding: 2vh;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.left-section {
    display: flex;
    align-items: center;
}

.right-section {
    display: flex;
    align-items: center;
}

h1 {
    font-size: 5vh;
    /* Increase font size */
    margin: 0;
    color: white;
    text-decoration: none;
}
.logo-link {
    color: #fff;
    text-decoration: none;
}

.logo-link:visited {
    color: #fff;
    /* Set the same color as the unvisited state or adjust as needed */
    text-decoration: none;
    /* Remove underline or adjust as needed */
}
button {
    background: none;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    /* Increase font size */
}

/* Adjust styles as needed */